@model UserLogin
@section Register {
    <link href="@Url.Content("~/css/Login.css")" rel="stylesheet" type="text/css" />

<div class="container">
  <div class="content">
    <div class="banner"> <br>
      <h1>SWAPY</h1> <br>
      <h3>Save more <br> Spend Less</h3>
      <br>
     
    </div>
    <form  asp-action="UserLogin" asp-controller="Home" >
    <div class="form">
      <img src="/img/bg-img/swapy.png" alt="profile" style="border: solid 1px;">
      <p>Need an Account? <a href="/register"> Sign Up</a></p>
      <input asp-for="LoginEmail"  placeholder="Email">
      <input asp-for="LoginPassword"  placeholder="Password">
      <button type="submit">Sign In</button>
      <a href="" id="r">Forgot Your Password?</a>
    </div>
    </form>
  </div>
</div>

}