<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href="~/css/Login.css">  <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    
</body>
</html>
<div class="container">
  <div class="content">
    <div class="banner"> <br>
      <h1>SWAPY</h1> <br>
      <h3>Save more <br> Spend Less</h3>
      <br>
     
    </div>
    <form action="">
    <div class="form">
      <img src="/img/bg-img/swapy.png" alt="profile" style="border: solid 1px;">
      <p>Already have an Account? <a href="/login"> Sign In</a></p>
      <input type="text" autocomplete placeholder="First Name">
      <input type="text" autocomplete placeholder="Last Name">
      <input type="email" autocomplete placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="Confirm Password">
      <button type="submit" style="margin-bottom: 10px;">Sign Up</button>
     
    </div>
    </form>
  </div>
</div>