
@model User

      @* <link rel="stylesheet" href="~/css/Login.css">  <link rel="stylesheet" href="~/css/Login.css"> *@
    

@section Register {
    <link href="@Url.Content("~/css/Login.css")" rel="stylesheet" type="text/css" />


<div class="container">
  <div class="content">
    <div class="banner"> <br>
      <h1>SWAPY</h1> <br>
      <h3>Save more <br> Spend Less</h3>
      <br>
     
    </div>
    <form  asp-action="CreateUser" asp-controller="Home">
    <div class="form">
      <img src="/img/bg-img/swapy.png" alt="profile" style="border: solid 1px;">
      <p>Already have an Account? <a href="/login"> Sign In</a></p>
      <input asp-for="FirstName" placeholder="First Name">
      <span asp-validation-for="FirstName" class="text-danger"></span>
      <input asp-for="LastName" placeholder="Last Name">
      <input asp-for="Email" placeholder="Email">
      <input asp-for="Password" placeholder="Password">
      <input asp-for="ConfirmPassword" placeholder="Confirm Password">
      <button type="submit" style="margin-bottom: 10px;">Sign Up</button>
     
    </div>
    </form>
  </div>
</div>
}